.body{
    display:grid;
    box-sizing:border-box;
    margin: 0.5em;
    background-color: aqua;

    }


.h1{

display: grid;
align-items: center;
font-size:4rem;
font-family:Lucida Sans Unicode;
font-weight: bolder;

}

.container{

    display:grid;
    border-style: double;
    border:solid 2rem cornflowerblue;
    background-color: rgb(206, 149, 131);

}