.body{
    display:grid;
    box-sizing:border-box;
    margin: 0.5em;
    background-color: aqua;

    }


.h1{

display: grid;
align-items: center;
font-size:4rem;
font-family:Lucida Sans Unicode;
font-weight: bolder;

}

container{

    display:grid;
    border-style: double;
    border:solid 2rem cornflowerblue;
    background-color: rgb(206, 149, 131);

}

p{
    size: 0.5rem;
    border: solid 0.5rem cornflowerblue;
    width: 10%;
}

span{

    align-items: center;
}

/* Adjusts the elements to the screen size for Tablet */
@media screen and (min-width:600px){

    .body{

    width:50%;
 }

 

}

/* Adjusts the elements to the screen size for Maximum Web Page size */
@media screen and (min-width:900px){


}